<div class="blog">
  {{#each items}}
    <div class="post">
      <div class="post__header">
        <div class="post__details">
          <a href={{this.url}}><h1 class="post__title">{{this.title}}</h1></a>
          <a href={{this.url}}><h2 class="post__subtitle">{{this.subtitle}}</h2></a>
        </div>
        <div class="post__author">
          <img class="post__author-image" src={{this.image}} alt="">
          <span class="post__author-name">{{this.author}}</span>
          <span class="post__date">{{this.date}}</span>
        </div>
      </div>
      <div class="post__banner">
        <a href={{this.url}}><img class="post__banner-image" src={{this.bannerImage}} alt=""></a>
      </div>
    </div>
  {{/each}}
</div>
